{% extends "base.html" %}
{% block title %}Add movie{% endblock %}

{% block content %}
<h1>Add movie</h1>

<form method="post">
  <div>
    <label>Title</label>
    <input name="title" required>
  </div>

  <div>
    <label>Director</label>
    <input name="director" placeholder="Christopher Nolan">
  </div>

  <div>
    <label>Year</label>
    <input name="year">
  </div>

  <div>
    <label>Poster URL</label>
    <input name="poster_url">
  </div>

  <div>
    <label>Genres (comma separated)</label>
    <input name="genres" placeholder="Action, Sci-Fi">
  </div>

  <div>
    <label>Description</label>
    <textarea name="description" rows="6"></textarea>
  </div>

  <button type="submit">Save</button>
</form>
{% endblock %}
